# Tuple

A tuple is a collection which is ordered andÂ unchangeable.
In Python tuples are written with round brackets.

In [5]:
t=("apple","ball","cat")
print(t)

('apple', 'ball', 'cat')

In [6]:
# Access Tuple Items
t=("apple","ball","cat")
print(t[0])
print(t[1])

apple
ball

In [7]:
# Negative Indexing
t=("apple","ball","cat")
print(t[-1])
print(t[-2])

cat
ball

In [8]:
# Range of Indexes
t=("apple","ball","cat","dog","bird")
print(t[1:4])

('ball', 'cat', 'dog')

In [13]:
# Range of Negative Indexes
t=("apple","ball","cat","dog","bird")
print(t[-1:-5:-1])
print(t[::-1]) # reverse

('bird', 'dog', 'cat', 'ball')
('bird', 'dog', 'cat', 'ball', 'apple')

In [18]:
# Change Tuple Values
t=("apple","ball","cat","dog","bird")
l=list(t)
l[4]="babu"
t=tuple(l)
print(t)

('apple', 'ball', 'cat', 'dog', 'babu')

In [20]:
# Loop Through a Tuple

t=("apple","ball","cat","dog","bird")
for x in t:
    print(x)

apple
ball
cat
dog
bird

In [23]:
t=("apple","ball","cat","dog","bird") # reverse
for x in t[::-1]:
    print(x)

bird
dog
cat
ball
apple

In [27]:
# Check if Item Exists
t=("apple","ball","cat","dog","bird") 
if "ball" in t:
    print("ball is here")

ball is here

In [29]:
# Tuple Length
t=("apple","ball","cat","dog","bird")  
len(t)

5

In [33]:
# Add Items
t=("apple","ball","cat","dog","bird")  
l=list(t)
l[3]="car"
t=tuple(l)
print(t)

('apple', 'ball', 'cat', 'car', 'bird')

In [35]:
# Create Tuple With One Item
t=("kirri",)  # if u don't seperate with coma it will become string
type(t)

tuple

In [37]:
# Remove Items
t=("apple","ball","cat","dog","bird")  
del t
print(t)  # here removeing items are not posible

NameError: name 't' is not defined

In [38]:
# Join Two Tuples
t=("apple","ball","cat","dog","bird")  
t1=(1,2,3,4)
t2=t+t1
print(t2)

('apple', 'ball', 'cat', 'dog', 'bird', 1, 2, 3, 4)

In [39]:
for x in  t:
    t1.append(x)
    print(t1)

AttributeError: 'tuple' object has no attribute 'append'

In [41]:
# count
t=("apple","ball","cat","dog","bird","apple","car","apple")  
t.count("apple")

3

In [42]:
# index
t=("apple","ball","cat","dog","bird","apple","car","apple")  
t.index("dog")

3

# Set

A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [43]:
# set
s={"kiran","sai","pavan","vamshi","charan"}
print(s)

{'charan', 'pavan', 'sai', 'kiran', 'vamshi'}

In [44]:
# Access Items
s={"kiran","sai","pavan","vamshi","charan"}
for x in s:
    print(x)

charan
pavan
sai
kiran
vamshi

In [45]:
s={"kiran","sai","pavan","vamshi","charan"}
"sai" in s

True

In [46]:
# Add Items
s={"kiran","sai","pavan","vamshi","charan"}
s.add("babu")
print(s)

{'charan', 'pavan', 'sai', 'babu', 'kiran', 'vamshi'}

In [47]:
# Update method
s={"kiran","sai","pavan","vamshi","charan"}
s.update(["vikas"])
print(s)

{'charan', 'pavan', 'sai', 'vikas', 'kiran', 'vamshi'}

In [48]:
# Get the Length of a Set
s={"kiran","sai","pavan","vamshi","charan"}
len(s)

5

In [50]:
# Remove Item
s={"kiran","sai","pavan","vamshi","charan"}
s.remove("pavan")
print(s)

{'charan', 'sai', 'kiran', 'vamshi'}

# Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [2]:
D={"name":"kiran","salary":"16000","skill":"python"}
D

{'name': 'kiran', 'salary': '16000', 'skill': 'python'}

In [4]:
#  Accessing Items
D={"name":"kiran","salary":"16000","skill":"python"}
D["name"]

'kiran'

In [6]:
# Change Values
D={"name":"kiran","salary":"16000","skill":"python"}
D["name"]="sai"
D

{'name': 'sai', 'salary': '16000', 'skill': 'python'}

In [7]:
# Loop Through a Dictionary
D={"name":"kiran","salary":"16000","skill":"python"}

for  x in D:
    print(x)

name
salary
skill

In [8]:
# Check if Key Exists
D={"name":"kiran","salary":"16000","skill":"python"}
if "name" in D:
    print("name is presented")

name is presented

In [9]:
# Dictionary Length
D={"name":"kiran","salary":"16000","skill":"python"}
len(D)

3

In [11]:
# Adding Items
D={"name":"kiran","salary":"16000","skill":"python"}
D["location"]="hyderabad"
print(D)

{'name': 'kiran', 'salary': '16000', 'skill': 'python', 'location': 'hyderabad'}

In [13]:
# Removing Items

D={"name":"kiran","salary":"16000","skill":"python"}
D.pop("salary")
D

{'name': 'kiran', 'skill': 'python'}

In [15]:
D={"name":"kiran","salary":"16000","skill":"python"}
D.popitem()
print(D)

{'name': 'kiran', 'salary': '16000'}

In [17]:
# Del keyword
D={"name":"kiran","salary":"16000","skill":"python"}
del D["skill"]
print(D)

{'name': 'kiran', 'salary': '16000'}

In [19]:
# Copy a Dictionary
D={"name":"kiran","salary":"16000","skill":"python"}
d=D.copy()
print(d)

{'name': 'kiran', 'salary': '16000', 'skill': 'python'}

In [21]:
# Nested Dictionaries
family={"child1":{"name":"kiran","skil":"python"}
        ,"child2":{"name":"krishna","skil":"java"}
        ,"child3":{"name":"vamshi","skil":"c"}}
print(family)

{'child1': {'name': 'kiran', 'skil': 'python'}, 'child2': {'name': 'krishna', 'skil': 'java'}, 'child3': {'name': 'vamshi', 'skil': 'c'}}

In [24]:
for x in family:
    print(family[x])

{'name': 'kiran', 'skil': 'python'}
{'name': 'krishna', 'skil': 'java'}
{'name': 'vamshi', 'skil': 'c'}